{% extends 'base.html' %}
{% block body %}
{% now "Y-m-d" as todays_date %}


<style>


</style>
<div class="container">
    <h1 style="text-align :center">Events</h1>

    <div class="row">
        <div class="h-25 d-inline-block">

            <div class="col">

                {%for item in events%}


                <div class="card mb-3" style="max-width: 100%, font-family : gothic">
                    <div class="row g-0" style="width:100%">
                        <div class="col-md-4">
                            <img src="{{item.image.url}}" class="rounded-start" alt="..." style="width: 100%;height: 100%">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title">{{item.eventname}}</h3>
                                <hr>
                                <p class="card-text">
                                <h4>{{item.collegename}}</h4>
                                </p>
                                <p class="card-text">{{item.desc}}</p>
                                <p class="card-text"><small class="text-muted">{{item.date}}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}


            </div>
        </div>
    </div>
</div>


{%endblock body%}